body,
html {
  padding: 0;
  margin: 0;
}
*::before,
*::after,
* {
  box-sizing: border-box;
}
.app {
  font-family: Okra, Helvetica, sans-serif;
  background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
  height: 540px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
}
.top-section {
  display: flex;
  padding-top: 15px;
  flex-direction: column;
  width: 100%;

  height: 540px;
}
.top-links {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.top-right-side {
  display: flex;
  gap: 30px;
}
.top-right-side > a {
  font-size: 1.2rem;
}
a {
  color: white;
  text-decoration: none;
}
.hero {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
}
.hero > img {
  width: 300px;
  margin-bottom: 20px;
}
.hero > h2 {
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: white;
  font-weight: 400;
}
.top-section-searchbar {
  display: flex;

  align-items: center;
  background-color: white;
  width: 850px;
  border-radius: 10px;
  height: 55px;
  padding: 0 15px;
}
.top-section-searchbar-left,
.top-section-searchbar-right {
  display: flex;
  align-items: center;
}
.top-section-searchbar-left > select {
  padding-right: 100px;
  font-size: 1rem;
  color: #757575;
  height: 20px;
  background-color: transparent;
  border: none;
  border-right: 3px solid #cfcfcf;
}
.top-section-searchbar-right {
  padding-left: 15px;
}
.top-section-searchbar-right > input {
  margin-left: 10px;
  font-size: 15px;
  background-color: transparent;
  border: none;
  width: 350px;
}
.top-section-searchbar-right > input:focus {
  outline: none;
}
main {
  width: 100%;
}
.main-content {
  margin: 0 auto;
  max-width: 1200px;
}
.qualities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-top: 50px;
}
.qualities > div {
  position: relative;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  height: 240px;
  overflow: hidden;
}

.qualities > div > img {
  position: relative;
  bottom: 40px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  transform: scale(1.2);
}
.qualities-text {
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  position: absolute;
}
.qualities-text > h3 {
  margin: 0;
  margin-bottom: 5px; 
  font-weight: 500;
  font-size: 1.5rem;
}
.qualities-text > p {
  margin: 0;
  font-size: 1.1rem;
}
.collections {
  margin-top: 100px;
}
.collections-p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collections-p > p {
  color: #484848;
}
.collections > h3 {
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: -10px;
}
.collections-p > p {
  font-size: 1.2rem;
}

.collections-svg > a {
  font-size: 1.2rem;
  color: #ff96a1;
}
.collections-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 15px;
  gap: 15px;
  
}
.collections-img-area {
  position: relative;
  width: fit-content;
}

.collections-img > img {
  width: 100%;
  height: 330px;
  border-radius: 8px;
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 1);

}
.collections-img-content {
  width: 100%;
  position: absolute;
  padding: 0 20px;
  left: 0;
  bottom: 0;
  color: white;
}

.collections-img-content > h3 {
  font-size: 1.3rem;
  font-weight: 500;
}
.localities {
  margin-top: 120px;
}
.localities > h2 {
  font-size: 2.2rem;
  font-weight: 500;
}
.localities-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 40px;
}
.localities-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  width: 100%;
  height: 85px;
  border-radius: 8px;
  border: 1px solid #e9e9e9;
  margin-top: 7px;
  box-shadow: 0 10px 10px -14px rgba(0, 0, 0, 0.3);
}
.localities-box-text > h3 {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.3rem;
}
.localities-box-text > p {
  margin-top: 8px;
}
.localities-last-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  margin-top: 7px;
  box-shadow: 0 10px 10px -14px rgba(0, 0, 0, 0.3);

  width: 100%;
  height: 85px;
  border-radius: 8px;
  border: 1px solid #e9e9e9;
}
.localities-last-box > span {
  font-size: 1.1rem;
  margin-right: 10px;
}
.secandory-content {
  width: 100%;
  background: #fffbf7;
  background-size: cover;
  margin-top: 120px;
  padding-top: 40px;
}
.zomato-app {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  max-width: 1200px;
}
.app-mobile-img {
  width: 420px;
}
.zomato-app-content > h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 15px;
}
label {
  margin-right: 45px;
  margin-top: 3px;
}
.app-radio,
.app-email {
  display: flex;
  align-items: center;
  gap: 10px;
}
.app-text {
  color: #504f4f;
  font-size: 1.3rem;
  margin-bottom: 40px;
}
input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  outline: none;
  border: 2px solid grey;
  border-radius: 50%;
}
input[type="radio"]:checked {
  border: 2px solid #ef4f5f;
  background-color: #ef4f5f;
}
.app-email {
  margin-top: 30px;
}
#email {
  height: 45px;
  border-radius: 4px;
  border: 1px solid #e4e3e2;
  width: 250px;
  padding: 10px;
}
input[type="email"]:focus {
  outline: 1px solid #ef4f5f;
}
.app-button {
  height: 45px;
  background-color: #ef4f5f;
  border: none;
  padding: 10px 20px;
  width: 135px;
  border-radius: 5px;
  color: white;
}
.zomato-app-content > span {
  color: #c3c2c0;
  display: inline-block;
  margin: 10px 0 20px 0;
}
.app-store-img {
  width: 130px;
  margin-right: 15px;
}
