body,
html {
  padding: 0;
  margin: 0;
}

.app {
  font-family: Okra, Helvetica, sans-serif;
  background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
  height: 540px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 0 20px;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
}
.top-section {
  display: flex;
  padding-top: 15px;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  height: 540px;
}
.top-links {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.top-right-side {
  display: flex;
  gap: 30px;
}
.top-right-side > a {
  font-size: 1.2rem;
}
a {
  color: white;
  text-decoration: none;
}
.hero {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
}
.hero > img {
  width: 300px;
  margin-bottom: 20px;
}
.hero > h2 {
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: white;
  font-weight: 400;
}
.top-section-searchbar {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  background-color: white;
  width: 850px;
  border-radius: 10px;
  height: 55px;
  padding: 0 15px;
}
.top-section-searchbar-left,
.top-section-searchbar-right {
  display: flex;
  align-items: center;
}
.top-section-searchbar-left > select {
  padding-right: 100px;
  font-size: 1rem;
  color: #757575;
  height: 20px;
  background-color: transparent;
  border: none;
  border-right: 3px solid #cfcfcf;
}
.top-section-searchbar-right {
  padding-left: 15px;
}
.top-section-searchbar-right > input {
  margin-left: 10px;
  font-size: 15px;
  background-color: transparent;
  border: none;
  width: 350px;
}
.top-section-searchbar-right > input:focus {
  outline: none;
}

.qualities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-top: 50px;
}
.qualities > div {
  position: relative;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  height: 240px;
  overflow: hidden;
}

.qualities > div > img {
  position: relative;
  bottom: 40px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  transform: scale(1.2);
}
.qualities-text {
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  position: absolute;
}
.qualities-text > h3 {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 1.5rem;
}
.qualities-text > p {
  margin: 0;
  font-size: 1.1rem;
}
.collections {
  margin-top: 100px;
}
.collections-p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collections-p > p {
  color: #484848;
}
.collections > h3 {
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: -10px;
}
.collections-p > p {
  font-size: 1.2rem;
}

.collections-svg > a {
  font-size: 1.2rem;
  color: #ff96a1;
}
.collections-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 15px;

  gap: 15px;
}
.collections-img {
  position: relative;
  width: fit-content;
}
.collections-img > img {
  width: 100%;
  height: 330px;
  border-radius: 8px;
}
.collections-img-content {
  width: 100%;
  position: absolute;
  padding: 0 20px;
  left: 0;
  bottom: 0;
  color: white;
  line-height: 0.3;
}

.collections-img-content > h3 {
  font-size: 1.3rem;
  font-weight: 500;
}
